.company {
    width: 200px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    padding: 8px;
}

.company:hover {
    background:
        linear-gradient(to right, rgb(0,77,113) 2px, transparent 2px) 0 0,
        linear-gradient(to right, rgb(0,77,113) 2px, transparent 2px) 0 100%,
        linear-gradient(to left, rgb(0,77,113) 2px, transparent 2px) 100% 0,
        linear-gradient(to left, rgb(0,77,113) 2px, transparent 2px) 100% 100%,
        linear-gradient(to bottom, rgb(0,77,113) 2px, transparent 2px) 0 0,
        linear-gradient(to bottom, rgb(0,77,113) 2px, transparent 2px) 100% 0,
        linear-gradient(to top, rgb(0,77,113) 2px, transparent 2px) 0 100%,
        linear-gradient(to top, rgb(0,77,113) 2px, transparent 2px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.company-image {
    height: 80%;
    width: 200px;
    object-fit: contain;
    padding: 3px;
}

.company-info-frame {
    width: 100%;
}

.company-label {
    width: 100%;
}

.company-label:hover {
    cursor: pointer;
}

.company-edit {
    width: 200px;
    min-width: 200px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    padding: 8px;
    border-radius: 10px;
    background: rgb(0,77,113);
}

.compImg {
    display: flex;
    height: 70%;
    width: 90%;
}

.company-edit-image {
    width: 100%;
    height: 100%;
    background: white;
    object-fit: contain;
    border-radius: 10px;
}

.company-edit-image:hover {
    cursor: pointer;
}

.company-edit-input {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    background: rgb(233,233,233);
    border: none;
    border-radius: 5px;
    width: 90%;
    color: rgb(84,87,90);
}

.company-edit-input:focus {
    outline: 0;
}

.company-edit-row1 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.row1 {
    width: 80%;
}

.company-edit-undo {
    border: none;
    background: none;
    font-weight: 800;
    color: white;
}

.company-edit-undo:focus {
    outline: 0;
}

.delete-company-button {
    align-self: flex-end;
    border: none;
    background: none;
    color: white;
}

.delete-company-button:hover {
    color: #ee7625;
}

.delete-company-button:focus {
    outline: 0;
}

.company-label-frame {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 90%;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    background: none;
    border-radius: 5px;
    border: none;
    background: rgb(0,77,113);
    color: white; 
    padding: 3px;
}