.header {
    box-sizing: border-box;
   background: rgb(84,87,90);
   height: 75px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
}

.header-nav-menu {
    height: 90px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-link {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px 10px;
}

.header-nav-link:hover {
    background:
        linear-gradient(to right, white 2px, transparent 2px) 0 0,
        linear-gradient(to right, white 2px, transparent 2px) 0 100%,
        linear-gradient(to left, white 2px, transparent 2px) 100% 0,
        linear-gradient(to left, white 2px, transparent 2px) 100% 100%,
        linear-gradient(to bottom, white 2px, transparent 2px) 0 0,
        linear-gradient(to bottom, white 2px, transparent 2px) 100% 0,
        linear-gradient(to top, white 2px, transparent 2px) 0 100%,
        linear-gradient(to top, white 2px, transparent 2px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 8px 8px;
}

Link {
    text-decoration: none;
}

.header-account-info {
    width: 500px;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

.header-account-info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 60%;
}

.header-logout-button {
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    background: none;
    text-transform: uppercase;
    color: #c8c8c8;
    font-size: 10px;
    padding: 2px;
}

.header-logout-button:hover {
    cursor: pointer;
    background:
        linear-gradient(to right, #c8c8c8 1px, transparent 1px) 0 0,
        linear-gradient(to right, #c8c8c8 1px, transparent 1px) 0 100%,
        linear-gradient(to left, #c8c8c8 1px, transparent 1px) 100% 0,
        linear-gradient(to left, #c8c8c8 1px, transparent 1px) 100% 100%,
        linear-gradient(to bottom, #c8c8c8 1px, transparent 1px) 0 0,
        linear-gradient(to bottom, #c8c8c8 1px, transparent 1px) 100% 0,
        linear-gradient(to top, #c8c8c8 1px, transparent 1px) 0 100%,
        linear-gradient(to top, #c8c8c8 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 4px 4px;
}

.header-user-name {
    margin-right: 10px;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    color: white;
}

.header-user-image {
    height: 60%;
    width: 100h;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #53575a;
}
